<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate</title>
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            
        </header>

        <main>
            <section>
                <h1 class="header">Sentinment</h1>
                <p class="explination">Enter a link or some text to see its sentiment and subjectivity</p>
            </section>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <ul class="radio">
                        <li>
                            <input id="url" type="radio" name="radio" id="url" value="url" checked class="checked">
                            <label for="url">URL</label>
                        </li>
                        <li>
                            <input id="text" type="radio" name="radio" id="text" value="text">
                            <label for="text">TEXT</label>
                        </li>
                    </ul>

                
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <p id="result_message"></p>
                <div id="sentiment">
                    <img id="sentiment" src="./img/img-no-result.jpg" alt="no-result">
                <div id="subjectivity">
                    <img id="subjectivity" src="./img/img-no-result.jpg"  alt="no-result">
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
