@use 'base';

form {
    background-color: #353b48;
    border-radius: 2px;
    padding: 40px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    #submit {
      background-color: #e1b12c;
      font-family:  'Ubuntu', sans-serif;
      font-size: 1em;
      border-style: none;
      padding: 10px 0px;
      color: #FFF;
      box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: #f1cb62;
      }

      &:active {
        background-color: #dcdde1;
        transform: translateY(3px);
        
      }
    }

    #name {
      padding: 10px;
    } 
}


